<h1>A propos de l'auteur</h1>
<p>
  Le <a href="http://railstutorial.org">tutoriel ruby-on-rails</a> est un projet du livre et du screens de
  <a href="http://rubyonrails.org"><abbr title="Ruby-on-Rails">RoR</abbr></a>
</p>