<h1>Simple App</h1>
<p>
  Ceci est un cours sur ruby-on-rails ou RoR en abrégé. Livre écrit par un auteur génial dont le cours se trouve sur
  <a href="http://railstutorial.org">Tutorial Ruby on Rails</a>
</p>
<p><%= link_to "S'incrire", "#", :class => "signup_button round"  %></p>