<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Sample app - Ruby-on-Rails | <%= @titre %></title>
    <%= csrf_meta_tag %>
  </head>
  <body>
      <%= yield %>
  </body>
</html>